@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --bg-color: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%);
  --white: #ffffff;
  --text-gray: rgba(0, 0, 0, 0.7);
  --text-black: rgba(0, 0, 0, 0.88);
  --divider-color: #4f358b;
  --button-color: #633bbc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

.text-title {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.063rem;
  letter-spacing: -0.02em;
  color: var(--text-gray);
}

body {
  background: var(--bg-color);
  font-family: 'Rubik', sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  display: grid;
  gap: 1.25rem;
  max-width: 20.438rem;
}

.header__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  color: var(--white);
  text-align: center;
}

.ticket {
  background-color: var(--white);
  border-radius: 1.5rem;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
  display: grid;
}

.flight {
  padding: 1.5rem 2rem 1.275rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.price-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__info,
.date__info {
  font-weight: 500;
  line-height: 1.188rem;
  letter-spacing: -0.02em;
  color: var(--text-black);
}

.date__title {
  text-align: right;
}

.origin-destiny {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.origin__airport,
.destiny__airport {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.938rem;
  letter-spacing: -0.02em;
  color: var(--text-black);
}

.destiny {
  text-align: right;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.divider__left {
  left: -11px;
}

.divider__right {
  right: -11px;
}

.divider__left,
.divider__right {
  background-color: var(--divider-color);
  padding: 0.75rem 0.75rem;
  border-radius: 50%;
  position: absolute;
}

.passenger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.passenger-seat {
  text-align: right;
}

.passenger-name__info,
.passenger-seat__info,
.boarding-detail__info {
  font-weight: 500;
  line-height: 1.188rem;
  letter-spacing: -0.02em;
  color: var(--text-black);
}

.information {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 1.5rem;
}

.boarding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boarding-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boarding-detail__time {
  padding: 0.25rem;
  text-align: center;
  width: 3.375rem;
  background: var(--button-color);
  border-radius: 0.5rem;
  color: var(--white);
  margin-top: 0.125rem;
}

.boarding-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notice__text {
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--text-black);
}

.notice__text--bold {
  font-weight: 500;
}

.footer {
  padding: 0 2rem;
}

.footer__text {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--white);
  opacity: 0.64;
}
